<h1><%= t('packs.all') %></h1>
<ul>
  <table>
    <th><%= t('name') %></th>
    <th></th>
    <th></th>
    <th></th>
    <% @packs.each do |pack| %>
      <tr class="rspec-pack">
        <td><%= link_to pack.name, pack %></td>
        <td>
          <% if current_user.current_pack == pack %>
            <%= t('packs.current') %>
          <% else %>
            <%= link_to t('packs.set_current'), set_as_current_pack_path(pack.id), method: :post %>
          <% end %>
        </td>
        <td><%= link_to t('edit'), edit_pack_path(pack.id) %></td>
        <td><%= link_to t('delete'), pack, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </table>
</ul>
