<h1><%= @pack.name %></h1>
<%= link_to t('cards.add'), new_pack_card_path(@pack), id: 'add-card' %>
<table>
  <th><%= t('cards.original_text') %></th>
  <th><%= t('cards.translated_text') %></th>
  <th><%= t('cards.review_date') %></th>
  <th></th>
  <th></th>
  <% @cards.each do |card| %>
    <tr class="rspec-card">
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date&.strftime('%d/%m/%y') %></td>
      <td><%= link_to t('edit'), edit_card_path(card.id) %></td>
      <td><%= link_to t('delete'), card, method: :delete, data: { confirm: t('confirm') } %></td>
    </tr>
  <% end %>
</table>
