<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <flash class=<%="flash-#{key}"%>>
        <%= value %>
      </flash>
    <% end %>
    <section id="container">

      <header class="clearfix">
        <nav class="navbar navbar-default navbar-expand-md">
          <div class="container-fluid">
            <div class="navbar-header">
              <h1><%= link_to t('flashcarder'), home_index_path %></h1>
            </div>
            <ul class="navbar-nav navigation-links">
              <% if current_user %>
                <li class="nav-item"><%= link_to t('edit_profile'), edit_user_path(current_user.id) %></li>
                <li class="nav-item"><%= link_to t('logout'), :logout, method: :post %></li>
                <li class="nav-item"><%= link_to t('packs.all'), packs_path %></li>
                <li class="nav-item"><%= link_to t('packs.add'), new_pack_path %></li>
              <% else %>
                <%= link_to t('registration'), new_user_path %> |
                <%= link_to t('login'), :login %> |
                <%= link_to t('login_github'), auth_at_provider_path(provider: :github) %> |
                <% if I18n.locale == :ru %>
                  <%= link_to 'RU', home_locale_path(locale: 'en'), method: :put %>
                <% else %>
                  <%= link_to 'EN', home_locale_path(locale: 'ru'), method: :put %>
                <% end %>
            <% end %>

            </ul>
          </div>
        </nav>
      </header>

      <section>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
