<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <flash class=<%="flash-#{key}"%>>
        <%= value %>
      </flash>
    <% end %>
    <section id="container">

      <header class="clearfix">
        <nav class="navbar navbar-default navbar-expand-md">
          <div class="container-fluid">
            <div class="navbar-header">
              <h1><%= link_to 'Флэшкарточкер', home_index_path %></h1>
            </div>
            <ul class="navbar-nav navigation-links">
              <% if current_user %>
                <li class="nav-item"><%= link_to 'Редактироват профиль', edit_user_path(current_user.id) %></li>
                <li class="nav-item"><%= link_to 'Выйти', :logout, method: :post %></li>
                <li class="nav-item"><%= link_to 'Все карточки', cards_path %></li>
                <li class="nav-item"><%= link_to 'Добавить карточку', new_card_path %></li>
              <% else %>
                <%= link_to 'Регистрация', new_user_path %> |
                <%= link_to 'Логин', :login %>
              <% end %>

            </ul>
          </div>
        </nav>
      </header>

      <section>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
